<% cache(blog_post_view) do %>
<%= element_view_for(blog_post_view, tag: 'article') do |el| %>
  <h3><a href="#"><%= el.render(:title) %></a></h3>
  <h6><%= el.render(:meta_data) %></h6>

  <div class="row">
    <div class="large-6 columns">
      <%= el.render :intro %>
    </div>
    <div class="large-6 columns">
      <%= el.render :image %>
    </div>
  </div>

  <%= el.render :body %>
<% end %>
<% end %>
